.container {
  padding: 0 3%;
}

%btnFill, %btnOutline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  padding: 0 25px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 10px;
  gap: 5px;
  white-space: nowrap;
}

%btnFill {
  background: #4460F0;
  color: #fff;
  border: 1px solid #C2D7FF;
}

%btnOutline {
  color: #4081FF;
  border: 1px solid #C2D7FF;
}