@import "common.module";

.filtersPage {
  h2 {
    margin: 43px 0 22px 0;
  }
}

.filters {
  background-color: #fff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  width: 100%;
  border-spacing: 0;

  tr {
    border: 0;

    &:nth-child(2n) {
      background-color: #F5F7FF;
    }

    td {
      border: 0;
      padding: 0 10px;
      font-size: 10px;
      height: 37px;

      &:not(:first-child) {
        border-left: 1px solid #D6D6D6;
      }

      &:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__title {
    td {
      height: 30px;
      border-bottom: 1px solid #D6D6D6 !important;

      button {
        font-weight: 600;
        color: #8A8F9C;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: left;
        font-size: inherit;

        &:hover::after, &.sorted::after {
          content: url("../public/sort-table.svg");
          position: absolute;
          top: 50%;
          transform: translateY(-60%);
          right: -3px;
        }
      }
    }
  }

}