@import "common.module";

.filtersPage {
  h2 {
    margin: 43px 0 22px 0;
  }
}

.filters {
  tr {
    td {
      &:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}