@import "common.module";

.header {
  background-color: #fff;
  box-shadow: 0px 3px 12px rgba(65, 57, 203, 0.11);
  position: relative;
  z-index:1;
  height: 42px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__user {
    position: relative;

    &__current {
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 11px;
      font-weight: 700;
      margin-left: 30px;
      cursor: pointer;

      img {
        transition: all .2s ease;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }

    &__exit {
      height: 43px;
      width: 100%;
      position: absolute;
      bottom: -55px;
      left: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 20px;
      background: #fff;
      box-shadow: 0px 3px 12px rgba(65, 57, 203, 0.11);
      color: #FF7878;
      font-weight: 600;
      border-radius: 0 0 7px 7px;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    gap: 43px;
    margin-left: 85px;
    color: #646363;
    font-size: 11px;
    font-weight: 600;
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;

    &__reset {
      @extend %btnOutline;
      border: 1px solid #FFDFDF;
      color: #FF8A8A;
      width: 145px;
    }

    &__find {
      @extend %btnFill;
      width: 145px;
    }
  }
}