.block {
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 100px;

  h2 {
    width: 100%;
  }

  &__item {
    p {
     &:first-child {
       font-size: 12px;
       color: #A1A7BA;
       font-weight: 600;
       margin-bottom: 4px;
     }

      &:last-child {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &.additionalData {
    column-gap: 0;
    justify-content: space-between;

    > div {
      width: 30%;

      .block__item {
        display: flex;
        column-gap: 8px;
        margin-bottom: 10px;
      }
    }
  }
}