@import "common.module";

.listContainer {
  max-width: 100%;
  height: calc(100vh - 146px - 120px);
  overflow: auto;

  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background-color: #F2F2F2;
    border-radius: 9em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4460F0;
    border-radius: 9em;
  }
}

.list {
  thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 0;

    tr {
      td {
        button {
          white-space: nowrap;
        }
      }
    }
  }

  tbody {
    tr {

      &.active {
        background-color: rgba(255, 138, 138, 0.35);
      }

      td {
        //white-space: nowrap;
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;

          img {
            cursor: pointer;
          }
        }
      }
    }
  }
}


.list__record + .list__record_opened {
  box-shadow: inset 0 7px 14px -10px rgb(0 0 0 / 35%)
}

.list__record_opened + .list__record {
  box-shadow: 0 -5px 5px -3px rgb(0 0 0 / 12%)
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;

  .shown {
    font-size: 13px;
  }
}


