@import "common.module";

.main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 10px;

  &__item {
    grid-column: span 4;
    background: #fff;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    padding: 10px 20px;

    &_50p {
      grid-column: span 2;
    }

    &_25p {
      grid-column: span 1;
    }

    h3 {
      margin-bottom: 8px;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    input {
      width: 100%;
      height: 36px;
      padding: 0 15px;
      border: 2px solid #EEEDF0;
      border-radius: 7px;
      font-size: 11px;

      &::placeholder {
        color: #C8C8C8;
      }
    }
  }

  .additionalParam {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 8px;

    &__name {
      width: 520px;
    }

    &__value {
      width: 320px;
    }

    &__checkbox {
      display: flex;
      align-items: center;
      gap: 9px;


      input {
        position: relative;
        -webkit-appearance: none;
        outline: none;
        width: 28px;
        height: 18px;
        border-radius: 50px;
        padding: 2px;
        background-color: #CBCBCB;
        border: 0;
        cursor: pointer;
      }

      input:after {
        transition: all .2s ease;
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        background: #fff;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        box-shadow: 0px 1.59249px 4.24663px rgba(0, 0, 0, 0.15), 0px 1.59249px 0.530829px rgba(0, 0, 0, 0.06);
      }

      input:checked {
        background-color: #4460F0;
      }

      input:checked:after {
        left: 12px;
      }
    }
  }

  .addAdditionalParam {
    @extend %btnFill;
    width: 140px;
  }
}